.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.site-wrapper{
    width: 1000px;
    margin: 0 auto;/*căn giữa trang*/
}
header .header-inner{
    background: lightgray;
    font-size: 32px;
    text-align: center;
    padding: 30px 0;
}
header .main-navigation ul{
    list-style: none;/*bỏ chấm tròn*/
    background: yellow;
    margin: 0;
    padding: 0;
}
.main-navigation ul.main-menu li.menu-item{
    background: orange;
    float: left;
    position: relative;/*thẻ cha của absolute*/
}
.main-navigation ul.main-menu li.menu-item:hover ul.submenu{
    display: block;
}
.main-navigation .main-menu li a{
    color: white;
    font-size: 18px;
    display: block;
    background: orange;
    text-decoration: none;/*bỏ gạch chân*/
    padding: 10px 20px;
}
.main-navigation .main-menu li a:hover{
    background: tomato;
    color: black;
}
/*begin sub menu*/
nav .submenu{
    display: none;/*ẩn ul*/
    min-width: 300px;
    position: absolute;/*thẻ con đi cùng với relative*/
    top: 40px;
    left: 0;

}
nav .submenu > li.submenu-item{
    border-bottom: 1px solid white;

}

/*end sub menu*/